environment:
  matrix:
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36-x64"
    - PYTHON: "C:\\Python37-x64"
install:
  - "%PYTHON%\\python.exe -m pip install --upgrade . coverage codecov"
build: off
test_script:
  - "%PYTHON%\\python.exe -m coverage run -m unittest -b"
after_test:
  - "%PYTHON%\\python.exe -m coverage xml -i"
  - "%PYTHON%\\python.exe -m codecov --file coverage.xml"
# vim: ts=2:sts=2:sw=2:et
